<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <%= render 'sidebar' %>
      <!-- products_list -->
      <%= render 'products_list', products: products %>
    </div>
  </div>
</section>