<% provide(:title, @taxon.name) %>
<!-- パンくず -->
<%= render 'light_section_pageheader', taxon_name: @taxon.name %>
<!-- メインコンテンツ -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar' %>
      <%= render 'products_list' %>
    </div>
  </div>
</section>
<!-- パートナーブランドロゴ -->
<%= render 'light_section' %>