<section class="mainContent clearfix">
  <div class="container">
    <!-- SingleProduct -->
    <%= render 'single_product', product: product %>
    <!-- ProductsContent -->
    <%= render 'products_content' %>
  </div>
</section>