<section class="mainContent clearfix">
  <div class="container">
    <!-- 商品詳細説明 -->
    <%= render 'single_product', product: @product %>
    <!-- 関連商品 -->
    <%= render 'products_content' %>
  </div>
</section>