<% provide(:title, @product.name) %>

<%= render 'pageHeader', product_name: @product.name %>

<section class="mainContent clearfix">
  <div class="container">
    <%= render 'product_detail', product: @product %>
    <%= render 'related_products' %>
  </div>
</section>